._1920-w-light,
._1920-w-light * {
  box-sizing: border-box;
}
._1920-w-light {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 2052px;
  position: relative;
  overflow-y: auto;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 99.61%;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0.39%;
  top: 0%;
  overflow: hidden;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 2044px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
}
.background {
  background: #f7f7fa;
  padding: 146px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 2612px;
  position: relative;
}
.heading-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 162px;
  height: 1.99%;
  position: absolute;
  left: calc(50% - 21px);
  bottom: 88.67%;
  top: 9.34%;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 36px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0%;
  top: 0%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  row-gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 75.78%;
  height: 21.71%;
  position: absolute;
  right: 10.7%;
  left: 13.52%;
  bottom: 64.32%;
  top: 13.97%;
}
.item-button {
  background: #ffffff;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 74px;
  min-width: 150px;
  position: relative;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.02);
}
._2006399438792449496-b-5226-c-233-c-43-cf-aaa-1-4592-dc-134395-jpg {
  background: #e9e9ec;
  border-radius: 32px;
  flex-shrink: 0;
  width: 62px;
  height: 62px;
  position: relative;
  overflow: hidden;
}
.container {
  flex-shrink: 0;
  width: 49px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.aespa {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.25px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 44px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-button2 {
  background: #ffffff;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 74px;
  position: relative;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.02);
}
.container2 {
  flex-shrink: 0;
  width: 62px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.ateez {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.25px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 59px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-button3 {
  background: #ffffff;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 74px;
  min-width: 202px;
  position: relative;
  cursor: pointer !important;
   pointer-events: auto !important;
  z-index: 9999; 
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.02);
}
._01-ef-26-f-3-b-2-af-40-a-7-9720-85-ba-02517357-jpeg {
  background: #e9e9ec;
  border-radius: 32px;
  flex-shrink: 0;
  width: 62px;
  height: 62px;
  position: relative;
  overflow: hidden;
}
.container3 {
  flex-shrink: 0;
  width: 140px;
  height: 64px;
  position: relative;

}
.boynextdoor {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.625px;
  font-weight: 700;
  width: 100%;
   z-index: 1000; 
   
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* 밑줄 제거 */
}
.container4 {
  flex-shrink: 0;
  width: 60px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.day-6 {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.625px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 60px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container5 {
  flex-shrink: 0;
  width: 43px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.illit {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.625px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 43px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container6 {
  flex-shrink: 0;
  width: 36px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.ive {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.25px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 36px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-button4 {
  background: #ffffff;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 74px;
  min-width: 182px;
  position: relative;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.02);
}
.container7 {
  flex-shrink: 0;
  width: 126px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.le-sserafim {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.625px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 126px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container8 {
  flex-shrink: 0;
  width: 48px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.nct {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.625px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 48px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container9 {
  flex-shrink: 0;
  width: 61px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.nmixx {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.625px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 61px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container10 {
  flex-shrink: 0;
  width: 47px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.rize {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.25px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 47px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-button5 {
  background: #ffffff;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 74px;
  min-width: 196px;
  position: relative;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.02);
}
.container11 {
  flex-shrink: 0;
  width: 90px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.stray-kids {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.625px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 90px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.treasure {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.625px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 89px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container12 {
  flex-shrink: 0;
  width: 52px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.tws {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.25px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 52px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container13 {
  flex-shrink: 0;
  width: 58px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.div2 {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.25px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 58px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container14 {
  flex-shrink: 0;
  width: 73px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.div3 {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.625px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 73px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container15 {
  flex-shrink: 0;
  width: 96px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.div4 {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.625px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 102.22px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container16 {
  flex-shrink: 0;
  width: 56px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.div5 {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.25px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 56px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div6 {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.625px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 43px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container17 {
  flex-shrink: 0;
  width: 72px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.div7 {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.625px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 72px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-button6 {
  background: #ffffff;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 74px;
  min-width: 197px;
  position: relative;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.02);
}
.container18 {
  flex-shrink: 0;
  width: 91px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.div8 {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.25px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 95.9px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-button7 {
  background: #ffffff;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 74px;
  min-width: 169px;
  position: relative;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.02);
}
.container19 {
  flex-shrink: 0;
  width: 147px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.div9 {
  color: #212121;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 15.625px;
  line-height: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22px;
  width: 147px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container20 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  height: 1630px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: calc(50% - 1022px);
}
.background2 {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 80px;
  position: relative;
}
.header {
  border-style: solid;
  border-color: #ebedf2;
  border-width: 0px 0px 1px 0px;
  padding: 22px 55px 22px 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 80px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.heading-1-link {
  flex-shrink: 0;
  width: 88px;
  height: 33px;
  position: absolute;
  left: 132px;
  top: 23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.image {
  width: 88px;
  height: 33px;
  position: absolute;
  left: 88px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.frame-10 {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 48px;
  top: 16px;
  overflow: visible;
}
